body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../IMG/space.jfif");
    background-color: #04003D;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 400px;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px 0; 
}

#Busc {
    background-color: black;
    border: 1px solid grey;
    height: 30px;    
    margin-left: 10px;
}

.logo {
    position: absolute; 
}
.logo img {
    height: 70px;
}

.exp ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.exp li a {
    color: white;
    text-decoration: none; 
    transition: color 0.3s; 
}
.exp li a:hover {
    color: crimson; 
}

nav {
    margin-left: 1300px; 
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: crimson;
}

.artigo {
    display: block;
    margin-top: 1000px;
    margin-left: 200px;
}
.container {
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 300px 300px ;
    background-color: darkslateblue;
    width: 1450px;
    padding: 30px;
    column-gap: 50px;
    row-gap: 100px; /*Gap é espaçamento*/
}
.grid {
    background-color: mediumslateblue;
    border: 1px;
    border-color: cornflowerblue;
    border-style: solid;
    color: black;
    padding: 0;
    font-size: 30px;
    text-align: center;
}
.grid1 {
    grid-area: 1 / 1 / 6 / 2;
    grid-column-start: 1;
    grid-row-start: 1;
}

.grid2 {
    grid-area: 1 / 1 / 4 / 2;
    grid-column-start: 2;
    grid-row-start: 1;
    gap: 100px;
    padding: 0;
}
.grid3 {
    grid-area: 2 / 2 / 3 / 2;
    grid-column-start: 2;
    grid-row-start: 6;
}
.grid4 {
    grid-area: 3 / 3 / 6 / 3;
    grid-column-start: 3;
    grid-row-start: 1;
}

.sombra {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, black, transparent);
    z-index: 1;
}