body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../IMG/space.jfif");
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px 0; 
}

#Busc {
    background-color: black;
    border: 1px solid grey;
    height: 30px;    
    margin-left: 10px;
}

.logo {
    position: absolute; 
}
.logo img {
    height: 70px;
}

.exp ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.exp li a {
    color: white;
    text-decoration: none; 
    transition: color 0.3s; 
}
.exp li a:hover {
    color: crimson; 
}

nav {
    margin-left: auto; /* Faz o nav se alinhar à direita */
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: crimson;
}

.container {
    position: relative;
    margin-top: 100px; /* Margem superior para o container */
    width: 500px; /* Define a largura do container */
    margin-left: auto; /* Centraliza o container */
    margin-right: auto; /* Centraliza o container */
}

.Image {
    position: relative; /* Para que o texto se posicione em relação a esta div */
    border-radius: 20px 20px 0 0;
    overflow: hidden; /* Para garantir que a borda arredondada funcione */
}

.Image img {
    width: 100%; /* Imagem ocupa 100% da largura do container */
    height: auto; /* Mantém a proporção da imagem */
}

.text {
    position: absolute; /* Posiciona o texto sobre a imagem */
    bottom: 0; /* Alinha o texto na parte inferior da imagem */
    left: 0; /* Alinha o texto à esquerda */
    right: 0; /* Alinha o texto à direita */
    background-color: rgba(0, 0, 139, 0.5); /* Cor de fundo com opacidade */
    padding: 10px; /* Adiciona espaçamento ao texto */
}
